html {
  box-sizing: border-box;
}

body {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03;
}

h1,
h2,
h3 {
  margin-top: 0;
}

:root {
  --logo: #2196f3;
}

a {
  color: black;
  text-decoration: none;
  font-family: 'Roboto';
}

ul {
  list-style-type: none;
}

header .logo {
  font-family: 'Raleway';
  font-size: 26px;
  font-weight: 700;
  text-decoration: none;
  margin-right: 93px;
  line-height: 1.19;
}
span {
  color: var(--logo);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

header nav {
  display: inline-flex;
  align-items: center;
}

header nav ul li {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  display: flex;
}

header nav ul li a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02;
  padding-top: 32px;
  padding-bottom: 32px;
}

header nav ul {
  display: flex;
  margin-left: 50px;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

header nav ul li :hover {
  color: var(--logo);
}

header .contacts li a {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  color: #757575;
  fill: #757575;
  margin-left: 50;
}

header .contacts {
  display: inline-flex;
}

header .contacts li :hover {
  color: var(--logo);
  fill: var(--logo);
}

main .top {
  background-color: #2f303a;
  font-family: 'Roboto';
  font-size: 44px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;
  color: white;
}

main .top button {
  background-color: var(--logo);
  color: white;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 700;
  font-family: inherit;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  min-width: 200px;
  min-height: 50px;
  border: transparent;
  border-radius: 4px;
}

main .top h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 1100px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

main .preferences {
  padding-top: 94px;
  padding-bottom: 94px;
}

main .preferences li {
  margin-left: 30px;
  flex-basis: calc((100%-90px) / 3);
}

main .preferences li h3 {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

main .preferences li p {
  margin-bottom: 0;
}

main .preferences ul {
  display: flex;
  margin-left: -30px;
}

main .preferences ul li h3 {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 700;
}

main .preferences ul li p {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  color: #757575;
}

main .preferences ul li svg {
  background-color: #f5f4fa;
}

main .specialisations {
  padding-top: 0;
  padding-bottom: 94px;
}

main .specialisations li {
  margin-left: 30px;
  flex-basis: calc((100%-90px) / 3);
}

main .specialisations ul {
  display: flex;
  margin-left: -30px;
}

main .specialisations h2 {
  font-family: 'Roboto';
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
  padding-left: 0;
  margin: 0;
  text-align: center;
}

main .specialisations ul li img {
  border-radius: 10px;
  display: block;
  height: auto;
}

main .team {
  background-color: #f5f4fa;
}

main .team h2 {
  font-family: 'Roboto';
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
  text-align: center;
}

main .team ul {
  display: flex;
  margin-left: -30px;
  text-align: center;
}

main .team li {
  margin-left: 30px;
  flex-basis: calc((100%-90px) / 3);
  box-shadow: var(--box-shadow);
  border-radius: 0px 0px 4px 4px;
}

main .team ul .member {
  box-shadow: 0 2px 3px 0px;
}

main .team ul li svg {
  fill: #afb1b8;
}

main .team ul li a :hover {
  background-color: var(--logo);
  fill: white;
}

main .team ul li .name {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--title-text-color);
}

main .team ul li .post {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  color: #757575;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 0;
}

main .team ul li div {
  padding: 30px 59px 30px 60px;
  background-color: #ffffffff;
}

footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

footer .logo {
  font-family: 'Raleway';
  font-size: 26px;
  font-weight: 700;
  color: white;
  display: flex;
  margin-bottom: 20px;
}

footer .logo span {
  color: var(--logo);
}

footer address {
  color: white;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}

footer ul li {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

footer address a {
  color: #ffffff99;
  font-size: 14px;
  font-weight: 400;
}

footer .container p {
  color: white;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-flex;
}

footer ul li svg {
  fill: white;
  background-color: #ffffff1a;
}

footer ul li a :hover {
  background-color: var(--logo);
}

footer form input {
  background-color: #2f303a;
  color: #ffffff99;
  border-color: #ffffff4d;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
}

footer button {
  background-color: var(--logo);
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 700;
  color: white;
  fill: white;
}
